.header {
  @apply container;
  @apply mx-auto;
}

.headerInner {
  @apply py-1.5rem;
  @apply px-1.5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
