.card {
    @apply shadow-lg;
    @apply mb-10;
    @apply p-5;
    @apply transition;
    @apply rounded-md;

    position: relative;
    width: 100%;
    height: 400px;
    transform: scale(1);
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
}

.cardContent,
.cardLink::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardContent {
    @apply text-base;

    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding: 2rem;
}

.cardContentInner {
    /* @apply bg-gradient-to-t;
    @apply from-black;
    @apply to-transparent; */
    /* background: linear-gradient( 0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100% ); */
    /* background: linear-gradient(transparent 0%,rgba(0,0,0,.24) 16%,rgba(0,0,0,.88) 100%); */
    
}

.cardTitle,
.cardDescription {
    @apply bg-blue-600;

    color: #fff;
    display: inline;
    align-self: flex-start;
    padding: 0.3rem;
    margin: 0;
}

.cardLink::before {
    content: '';
    z-index: 2;
}

.cardTitle {
    /* @apply font-serif; */
    @apply text-2xl;
    @apply font-bold;
}
