.intro {
  @apply px-2rem;
  @apply py-10rem;
}

.introTitle {
  @apply text-4rem;
  @apply font-serif;
  @apply font-bold;

  line-height: 1.1;
  margin-bottom: 2.75rem;
}

.link {
  position: relative;
}

.link::after {
  @apply bg-blue-300;

  content: '';
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
}

.link:hover::after {
  top: 0;
}

.introSub {
  @apply text-2xl;
  @apply tracking-wider;
  @apply leading-relaxed;
  @apply mb-15;

  font-weight: 300;
}

.introButton {
  @apply rounded-full;
  @apply border-2;
  @apply border-blue-400;
  @apply text-xl;
  @apply px-10;
  @apply py-5;
  @apply text-blue-400;
  @apply space-x-3;

  cursor: pointer;
}

.introButton:hover {
  @apply bg-blue-400;
  @apply text-white;
}

.introButtonIcon {
  @apply inline-block;
  @apply transition;
  @apply ease-in-out;

  vertical-align: sub;

  animation: 'bounce' 1s infinite;
}

@screen xl {
  .intro {
    @apply px-3rem;
    @apply py-8rem;
  }

  .introTitle {
    @apply text-5.2rem;
  }
}
