.postHeader {
  position: relative;
  min-height: var(--post-header-height);
}

.postHeader.postHeaderNoBg {
  min-height: 100px;
}

.postHeader.postHeaderNoBg::before {
  content: none;
}

.postHeader.postHeaderAlignCenter > div {
  grid-column: wide-start/wide-end;
  text-align: center;
}

.postHeader::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.postHeaderInner {
  @apply pt-8;
  @apply pb-4;

  z-index: 2;
}

.postHeaderMeta {
  @apply text-white
  @apply text-sm;
  @apply uppercase;
  @apply font-bold;
  @apply mb-4;
}

.postHeaderTitle {
  @apply text-white;
  @apply font-raleway;
  @apply font-extrabold;
  @apply text-5xl;
  @apply lining-nums;
  @apply leading-tight;
}

.postHeaderDescription {
  @apply text-white;
  @apply font-raleway;
  @apply mt-7;
  @apply text-xl;
  @apply lining-nums;
}

.postHeaderNoBg .postHeaderMeta,
.postHeaderNoBg .postHeaderTitle,
.postHeaderNoBg .postHeaderDescription {
  @apply text-gray-800;
}

.postHeaderFeatureImage {
  grid-column: full-start / full-end;
}

.postHeaderFeatureImage img {
  width: 100%;
  height: var(--post-header-height);
  -o-object-fit: cover;
  object-fit: cover;
}

.postHeaderFeatureImageFigcaption {
  @apply text-gray-500;
  @apply text-base;
  @apply mt-1;
  @apply text-center;

  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;

  /* padding-top: var(--post-header-height) */
}
