.postItem {
    /* @apply shadow-lg; */
    @apply mb-5;
    @apply p-5;
    @apply transition;
    @apply rounded-md;

    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;;
}

.postItem:hover {
    /* @apply bg-indigo-100; */
    @apply bg-blue-100;
    /* @apply shadow-lg; */

}

.title {
    @apply font-bold;
    @apply text-lg;
}

.description {
    @apply text-gray-500;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.link::before {
    content: '';
   
    position: absolute;
    
}

.date {
    @apply text-gray-400;
}
