.socialFooter {
  position: fixed;
  bottom: 0;
  left: 60px;
}

.socialFooter::before {
  @apply bg-blue-400;

  content: '';
  height: 4em;
  width: 3px;
  position: absolute;
  bottom: 0;
  transform: translateX(9px);
}
