.nav {
  @apply origin-center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.navList {
  @apply bg-white
  @apply space-y-10;

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navItem {
  @apply text-4xl;
  @apply font-bold;
}

@screen md {
  .nav {
    position: relative;
    width: auto;
    height: auto;
  }

  .navList {
    @apply bg-transparent
    @apply space-y-0;

    flex-direction: row;
    
  }

  .navItem {
    @apply text-base;
    @apply font-normal;

    margin-left: 2rem;
  }

  .navItem:first-child {
    margin-left: 0;
  }
}

/* .navItem {
  margin-left: 2rem;
}

.navItem:first-child {
  margin-left: 0;
} */
